<head> <!-- CSS only -->
  <link rel="stylesheet" href="https://hackerthemes.com/bootstrap-themes/demo/theme-machine/hello-world/css/bootstrap4-hello-world.min.css">
  <link rel="stylesheet" href="style.css">
</head>>

<h1>Please choose a date for your booking:</h1>

<form method="post" action="/post-booking-date">
  <input type="date" id="date" name="date" required placeholder="Please choose a date">
  <button type="submit" value="Book">Book</button>
</form>