<head>
  <link rel="stylesheet" href="https://hackerthemes.com/bootstrap-themes/demo/theme-machine/hello-world/css/bootstrap4-hello-world.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<h1>Booking failed, this date has already been booked.</h1>


<a href="/spaces" class="btn btn-info">Return to spaces</a>
<a href="/my_booking_history" class="btn btn-info">View bookings</a>