<head> 
  <link rel="stylesheet" href="https://hackerthemes.com/bootstrap-themes/demo/theme-machine/hello-world/css/bootstrap4-hello-world.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<h1>Thank you for completing out form, we will be in touch soon.</h1>


<a href="/spaces" class="btn btn-info">Return to spaces</a>