<head> <!-- CSS only -->
  <link rel="stylesheet" href="https://hackerthemes.com/bootstrap-themes/demo/theme-machine/hello-world/css/bootstrap4-hello-world.min.css">
  <link rel="stylesheet" href="style.css">
</head>>

<form action="post-space" method="post">
  <label for="name">Name:</label>
  <input type="text" class="form_field" required name="name"><br>

  <label for="description">Description:</label>
  <textarea class="form_field" name="description" required rows="4" cols="50">A description of your space</textarea><br>

  <label for="price_per_night">Price per night:</label>
  <input type="number" class="form_field" required name="price_per_night"><br> 

  <input type="hidden" class="form_field" required name="email" value="<%= @email %>">
  <input type="hidden" class="form_field" required name="account_id" value="<%= @id %>">

  <button type="submit" value="Create space">Create space</button>
</form>

<a href='/'>Back to the homepage</a>