<form action="post-space" method="post">
  <label for="name">Name:</label>
  <input type="text" class="form_field" name="name"><br>

  <label for="description">Description:</label>
  <textarea class="form_field" name="description" rows="4" cols="50">A description of your space</textarea><br>

  <label for="price_per_night">Price per night:</label>
  <input type="number" class="form_field" name="price_per_night"><br> 
  
  <label for="email_address">Email address:</label>
  <input type="email" class="form_field" name="email"><br>

  <button type="submit" value="Create space">Create space</button>
</form>

<a href='/'>Back to the homepage</a>