<head>
  <link rel="stylesheet" href="https://hackerthemes.com/bootstrap-themes/demo/theme-machine/hello-world/css/bootstrap4-hello-world.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<h1>Welcome to MakersBnB</h1>


<div class="buttons">  

  <p><a href="/spaces" class="btn btn-info">View spaces</a></p>
  <p><a href="/login" class="btn btn-info">Log in</a></p>
</div>

<form action="post-account" method="post">
<div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" name="name"><br>

  <label for="email">Email address:</label>
  <input type="email" class="form-control" name="email"><br>

  <label for="password">Password:</label>
  <input type="password" class="form-control" name="password"><br>

  <label for="password_confirmation">Password confirmation:</label>
  <input type="password" class="form-control" name="password_confirmation"><br> 


  <button type="submit" class="btn btn-info" value="Create account">Create account</button>
</div>
</form>

