<h1>Please complete the form below to login</h1>
<form action="post-login" method="post">
  <label for="email">Email:</label>
  <input type="email" class="form_field" name="email"><br>

  <label for="password">Password:</label>
  <input type="password" class="form_field" name="password"><br>

  <button type="submit" value="Log in">Log in</button>
</form>