<div>
<p>Name: 10 Downing street</p>
<p>Description: One room flat, suitable for head of state</p>
<p>Price per night: 10</p>
<a href = 'mailto:example@test.com'>example@test.com</a>
</div>

<a href='/'>Back to the homepage</a>